body {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: sans-serif;
  padding: 0 20px 20px 20px;
  margin: 0;
}

h1 {
  color: #bd93f9;
}

ul {
  list-style: none;
  padding: 0;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, max-content));
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffb86c;
}
a:hover {
  color: #ff79c6;
} 
a:active {
  color: #bd93f9;
}
a:visited {
  color: #6272a4;
}

* {
  box-sizing: border-box;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr minmax(250px, 25%);
  padding: 12px 0;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #282a36;
}

.header-content {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content 1fr 28px;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  padding-right: 12px;
}

.trophy {
  background-color: #44475a;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 16px 48px 16px 1fr;
  grid-template-rows: 32px 1fr;
  gap: 6px 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.trophy.owned {
  border: 2px solid #f1fa8c;
}

.trophy-container {
  position: relative;
  display: grid;
  grid-template-columns: 32px;
  grid-template-rows: 32px;
  grid-column: 1 / 6;
  grid-row: 1;
  align-items: center;
  z-index: 10;
  justify-items: center;
  width: 100%;
}

.trophy-container img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  grid-row: 1 / 4;
  grid-column: 1 / 4;
}

.points {
  background-color: #50fa7b;
  color: #282a36;
  font-size: 10px;
  padding: 0px 4px;
  border-radius: 3px;
  height: 16px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: right;
  white-space: nowrap;
  align-self: flex-start;
  justify-self: right;
  grid-column: 2 / 6;
  grid-row: 3;
  width: calc(100% - 14px);
  z-index: 12;
}

.points.negative {
  background-color: #ff5555;
  color: #f8f8f2;
}

.secret {
  background-color: #6272a4;
  color: #f8f8f2;
  font-size: 10px;
  padding-right: 1px;
  padding-top: 2px;
  border-radius: 3px;
  font-weight: bold;
  height: 16px;
  width: 16px;
  grid-row: 3;
  grid-column: 1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
}

.label {
  font-size: 12px;
  width: 100%;
  min-width: min-content;
  min-height: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  grid-column: 1 / 6;
  grid-row: 2;
  background-color: #00000020;
}

#counter-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  grid-row: 4;
  grid-column: 1 / 3;
}

.progress-wrapper {
  background-color: #1e1f29;
  border-radius: 5px;
  height: 16px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 0 1px #44475a;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right, #ff5555aa, #ffb86caa, #f1fa8caa, #50fa7baa);
  transition: width 0.3s ease-in-out;
  font-size: 14px;
  color: #f8f8f2;
  text-align: center;
}

.progress-bar>div {
  padding: 0 6px;
}

.progress-label {
  font-size: 14px;
  color: #f8f8f2;
  min-width: max-content;

}

.reset-button {
  background-color: #ff5555;
  color: #f8f8f2;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  min-width: max-content;
}
.reset-button:hover {
  color: #282a36;
  background-color: #ff79c6;
}
.reset-button:active {
  color: #282a36;
  background-color: #bd93f9;
}
.reset-button:disabled {
  background-color: #6272a4;
  cursor: not-allowed;
}

.select-all-button {
  background-color: #50fa7b;
  color: #282a36;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  min-width: max-content;
}
.select-all-button:hover {
  background-color: #ff79c6;
}
.select-all-button:active {
  background-color: #bd93f9;
}
.select-all-button:disabled {
  background-color: #6272a4;
  cursor: not-allowed;
}

.export-button {
  background-color: #6272a4;
  color: #f8f8f2;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}
.export-button:hover {
  color: #282a36;
  background-color: #ff79c6;
}
.export-button:active {
  color: #282a36;
  background-color: #bd93f9;
}
.export-button:disabled {
  background-color: #6272a4;
  cursor: not-allowed;
}

.drag-and-drop-container {
  border: 2px dashed #6272a4;
  border-radius: 8px;
  padding: 1em;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #6272a420;
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-export-container {
  width: 100%;
  padding-left: 12px;
  border-left: 1px solid #6272a450;
  display: grid;
  grid-template-rows: 1fr 28px;
  grid-template-columns: 1fr;
  gap: 6px 0;
}
